@font-face {
    font-family: head;
    src: url(./Heading-Now-Variable.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: black;
}


#page1 h1{
    font-size: 40vw;
    color: #fff;
    text-transform: uppercase;
    font-family: head;
    white-space: nowrap;
    font-stretch: 250%;
    font-weight: 999;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(34, 34, 34);
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: black;
}